<%= form_with(model: stock, local: true) do |form| %>

  <%= render 'shared/notifications', messages: stock.errors.full_messages %>

  <div class="form-row col-lg-12">

    <div class="form-group col-lg-12">

      <% if type == 'new' %>
        <%= form.label :name %>
        <%= form.text_field :name, class: "form-control" %>
      <% elsif type == 'edit' %>
        <%= form.label :rss_url %>
        <%= form.text_field :rss_url, class: "form-control" %>
      <% end %>
    </div>

  <div class="text-center">
    <%= form.submit "#{type == 'new' ? "Add" : "Edit"}", class: "btn my-btn" %>
  </div>
<% end %>
