<%= form_with(model: lead, local: true) do |form| %>

  <%= render 'shared/notifications', messages: lead.errors.full_messages %>

  <div class="form-row">

    <div class="form-group col-lg-6">
      <%= form.label :first_name %>
      <%= form.text_field :first_name, class: "form-control" %>
    </div>

    <div class="form-group col-lg-6">
      <%= form.label :last_name %>
      <%= form.text_field :last_name, class: "form-control" %>
    </div>

  </div>

  <div class="form-group">
    <%= form.label :address %>
    <%= form.text_field :address, class: "form-control" %>
  </div>

  <div class="form-row">

    <div class="form-group col-lg-5">
      <%= form.label :city %>
      <%= form.text_field :city, class: "form-control" %>
    </div>

    <div class="form-group col-lg-4">
      <%= form.label :state %>
      <%= form.text_field :state, class: "form-control" %>
    </div>

    <div class="form-group col-lg-3">
      <%= form.label :zip_code %>
      <%= form.text_field :zip_code, class: "form-control" %>
    </div>

  </div>

  <div class="form-row">

    <div class="form-group col-lg-4">
      <%= form.label :phone_number %>
      <%= form.text_field :phone_number, class: "form-control" %>
    </div>

    <div class="form-group col-lg-4">
      <%= form.label :phone_number_2 %>
      <%= form.text_field :phone_number_2, class: "form-control" %>
    </div>

     <div class="form-group col-lg-4">
      <%= form.label :email %>
      <%= form.text_field :email, class: "form-control" %>
    </div>
  </div>

  <div class="text-center">
    <%= form.submit "#{@type == 'new' ? 'Create'  : 'Update'} Lead", class: "btn my-btn" %>
  </div>
<% end %>
