<!DOCTYPE html>
<html>
  <head>
    <title>CallMe</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="my-body">
    <%= render 'shared/navbar', title: "Call Me" %>
    <%= render 'shared/notifications', messages: notice, type: 'primary' %>

    <%= yield %>
  </body>
</html>
